@import "A-variables";

// Banner de Presentacion
.masterContainer{
    max-width: 1488px;
    margin: auto;

    .bannerImg{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $rosa;
        background-image: url(../Archivos/banner.png);
        height: 80vh;
        object-fit: cover;
        display: flex;
        justify-content: center;

        h1{
            margin-top: 4rem;
            font-size: 50px;
            font-family: $poppins;
            color: white;
        }
    }
}

// Banner de Informacion
.banner{
    background-color: $beige;
    padding: 2rem;

    h3{
        text-align: center;
        font-family: $montserrat;
        font-size: 28px;
        color: $rosa;
        padding-top: 15px;
        margin-bottom: 3rem;
    }

    .contenidoBanner{
        display: flex;
        justify-content: space-around;
        padding-top: 5px;
        // Texto
        text-align: center;
        font-family: $montserrat;
        font-weight: 500;

        p{
            padding-top: 10px;
            width: 300px;
        }


        img{
            transition: 2s;
            width: 150px;
            height: 150px;
        }

        img:hover{
             transform: rotateY(360deg);
        }
    }

    .botonBanner{
        text-align: center;
        padding-bottom: 20px;
        margin-top: 20px;

        a{
            background-color: $rosa;
            padding: 10px;
            border-radius: 50px;
            font-family: $montserrat;
            color: white;
            text-decoration: none;
        }

        a:hover{
            font-weight: 700;
            padding: 10px;
        }
    }
}