// Nav-bar
.navbar{
    background-color: $rosa;

    // Logo
    .logo{
        display: flex;
        align-items: center;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: aparecer;
        
        img{
            width: 250px;
            padding: 15px;
        }
    }

    @keyframes aparecer{
        0% {
          opacity: 0;
        }
        100% {
          opacity: 4;
        }
     } 

    .container-fluid{
        .collapse .navbar-nav .nav-item{
            a{
                color: white;
                font-size: 25px;
                margin: 10px;
            }

            // Animacion de la lista del Nav
            a:hover{
                color: $rosaclaro;
                padding-top: 3px;
            }

            // Menu hamburguesa
            .dropdown-menu{
                background-color: $rosaclaro;

                .dropdown-item{
                    width: 250px;
                    font-size: 18px;
                }
                .dropdown-item:hover{
                    background-color: $rosa;
                }
            }
        }
    }
   

}