// Nav-bar
.navbar{
    background-color: $rosa;

    // Logo
    .logo{
        display: flex;
        align-items: center;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-name: aparecer;
        
        img{
            width: 250px;
            padding: 15px;
        }
    }

    // Animacion del Logo
    @keyframes aparecer{
        0% {
          opacity: 0;
        }
        100% {
          opacity: 4;
        }
    } 

    // Estilos de la lista y menu hamburguesa
    .container-fluid{
        .collapse{
            .navbar-nav{
                .nav-item{
                    a{
                        color: white;
                        font-size: 25px;
                        margin: 10px;
                    }

                    // Animacion al pasar el cursor o seleccionar
                    a:hover{
                        color: $rosaclaro;
                        padding-top: 3px;
                    }
                }
            }
        }
    }        
}