@import "A-variables";

// Titulos
.textTitulo{
    padding-top: 3rem;
    padding-bottom: 10px;
    .titulo{
        padding: 0 10px 0 10px;
        left: 30%;
        top: 20px;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }
}

.tituloTestimonios{
    background-color: $marron;
    .tituloT{
        text-align: center;
        margin: 0;
        color: $beige;
        font-family: $montserrat;
        font-size: 30px;
        padding: 10px 0 10px 0;
        font-weight: bold;
    }
}