// Responsive: 300px a 472px
@media (max-width: 472px) and (min-width: 300px){
    // Banner de presentacion
    .bannerImg{
        h1{
            font-size: 15px;
            left: 25%;
            top: 13%;
            width: 150px;
            text-align: center;
        }
    }
    // Banner informativo
    .banner{
        h3{
            font-size: 20px;
        }

        .contenidoBanner{
            flex-direction: column;
            align-items: center;

            p{
                width: 250px;
            }
        }
        
    }
}

// Responsive: 767px a 1023px
@media (max-width: 1023px) and (min-width: 767px){
    // Banner de presentacion
    .bannerImg{
        h1{
            font-size: 35px;
            left: 35%;
            top: 18%;
            width: 250px;
            text-align: center;
        }

        .imagenBanner{
            width: 100%;
            object-fit: cover;
        }
    }

    // Banner de Informacion
    .banner{
        .contenidoBanner{
            p{
                width: 200px;
            }
        }
    }
}