// Responsive: 300px a 472px
@media (max-width: 472px) and (min-width: 300px){
    // Banner de presentacion
    .masterContainer{
        .bannerImg{
            height: 30vh;
            h1{
                margin-top: 2rem;
                font-size: 18px;
            }
        }
    }
    
    // Banner informativo
    .banner{
        h3{
            font-size: 20px;
        }

        .contenidoBanner{
            flex-direction: column;
            align-items: center;

            p{
                width: 250px;
            }
        }
        
    }
}

// Responsive: 767px a 1023px
@media (max-width: 1023px) and (min-width: 767px){
    // Banner de presentacion
    .masterContainer{
        .bannerImg{
            height: 50vh;
            h1{
                margin-top: 2rem;
                font-size: 30px;
            }
        }
    }

    // Banner de Informacion
    .banner{
        .contenidoBanner{
            p{
                width: 200px;
            }
        }
    }
}