*{
    margin: 0%; 
    padding: 0%;
}

ul{
    li{
        list-style: none;

        a{
            text-decoration: none;
        }
    }
}

@import "A-footer";
@import "A-navbar";
@import "A-card-index";
@import "A-card-mascotas";
@import "A-carrusel";
@import "A-titulos";
@import "A-banner-index";
@import "A-contacto";
@import "A-sobre-nosotros";
@import "A-adopcion";
@import "A-variables";

// Media Query
@import "B-mediaquery-navbar";
@import "B-mediaquery-footer";
@import "B-mediaquery-adopcion";
@import "B-mediaquery-banner-index";
@import "B-mediaquery-card-index";
@import "B-mediaquery-carrusel";
@import "B-mediaquery-contacto";
@import "B-mediaquery-card-mascotas";
@import "B-mediaquery-sobre-nosotros";
@import "B-mediaquery-titulos";
